# shellcheck shell=bash

# ZSH config
alias zconf='nvim $ZDOTDIR/.zshrc'
alias tconf='nvim $HOME/.config/tmux/.tmux.conf'
alias aliases='nvim $HOME/.config/zsh/.aliases && . $HOME/.config/zsh/.aliases'
alias ohmyzsh='nvim ~/.oh-my-zsh'
alias sz='. ${ZDOTDIR}/.zprofile && . ${ZDOTDIR}/.zshrc'
alias dt='cd ${DOTFILES_PATH} && nvim .'
alias lz='cd ${HOME}/.local/share/nvim/lazy/LazyVim && nvim .'
alias lp='cd ${HOME}/.local/share/nvim/lazy && nvim .'

# Reload the shell
alias reload="omz reload"

# Tooling
alias pn="pnpm"
alias vimdiff='nvim -d'
alias ping='ping -c 5'
alias pping='prettyping -c 5'
alias gkeys='gpg --list-secret-keys --keyid-format LONG'
alias tree="tree -a -I '.git'"

# System
alias path='echo -e ${PATH//:/\\n}'
alias sau="sudo apt update"
alias sag="sudo apt upgrade"
alias saug="sau && sag"

# Kubernetes/Terraform/Terramate
alias k="kubectl"
alias tm="terramate"
alias tf="tofu"
alias tmr="tm script run"
alias tmg="tm generate"
alias tfmt="tm fmt; tofu fmt -recursive"

# ls
alias ll='ls -ahl'
alias la='ls -AF'
alias l='ls -CF'

# permissions
alias 755d="find . -type d -exec chmod 755 {} \;"
alias 644f="find . -type f -exec chmod 644 {} \;"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Networking
alias myip="curl https://ifconfig.me; echo | tee clip-copy"
alias ports="sudo lsof -i -P -n | grep LISTEN"

# Docker
alias dockerips="docker ps -q | xargs -n 1 docker inspect --format '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}} {{ .Name }}' | sed 's/ \// /'"
alias drun='docker container run --rm -it -v "${PWD}":/app -w /app'
alias dclean="docker system prune -af"
alias dlog="docker log -f"

##### git
alias gac='gaa && gcm'
alias gi="git init && git symbolic-ref HEAD refs/heads/main"
alias gii="gi && gac 'Initial commit'"
alias grao='git remote add origin'
alias gpoa='git push -u origin --all'
##### sync all branches with remote
alias gitsync="git branch -r | grep -v '\->' | while read remote; do git branch --track \"${remote#origin/}\" \"$remote\"; done && git pull --all"
