[user]
	name = Lucas Vienna
	email = Lucas.Vienna@dscsag.com
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINEIpmvuhdgqsq153BBd/VW6j2KivxeOjLdEfqK85F/O lucas.vienna@dscsag.com

[commit]
	gpgsign = true

[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore_global

[credential]
	helper = "/mnt/c/Program Files/Git/mingw64/bin/git-credential-manager.exe"

[gpg]
	format = ssh
	program = gpg

[gpg "ssh"]
	allowedSignersFile = /home/lvi/.config/git/allowed_signers

[tag]
	forceSignAnnotated = true
	gpgsign = true
	sort = version:refname

[merge]
	tool = vimdiff
	conflictstyle = zdiff3
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
	tool = vimdiff
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[difftool]
	prompt = false

[init]
	defaultBranch = main
[fetch]
	prune = true
	pruneTags = true
	all = true
[push]
	autoSetupRemote = true
	followTags = true
[pull]
	rebase = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	autoupdate = true
	enabled = true

[column]
	ui = auto
[branch]
	sort = -committerdate

[alias]
	unstage = reset --soft HEAD^
	########
	dev = !git checkout develop && git pull origin develop
	staging = !git checkout staging && git pull origin staging
	main = !git checkout main && git pull origin
	########
	aliases = !git config -l | grep alias | cut -c 7-

[safe]
	directory = %(prefix)///wsl.localhost/Ubuntu/home/lvi/workspace/cloud/*
	directory = %(prefix)///wsl.localhost/Ubuntu/home/lvi/workspace/cloud/crosspoint

[help]
	autocorrect = prompt
