[user]
	name = Lucas Vienna
	email = dev@lucasvienna.dev
	signingkey = 1E763A1C0C9B66CD
[commit]
	gpgsign = true
	template = /Users/lucas/.stCommitMsg
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore_global

[credential]
	helper = store

[gpg]
	program = gpg

[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
	tool = vimdiff
[difftool]
	prompt = false

[pull]
	rebase = true

[alias]
	unstage = reset --soft HEAD^
	########
	dev = !git checkout develop && git pull origin develop
	staging = !git checkout staging && git pull origin staging
	master = !git checkout master && git pull origin
	########
	aliases = !git config -l | grep alias | cut -c 7-
[tag]
	forceSignAnnotated = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
