(
  selected_tab: Some("#9580FF"),
  command_fg: Some("#7970A9"),
  selection_bg: Some("#454158"),
  selection_fg: Some("#80FFEA"),
  cmdbar_bg: Some("#22212C"),
  cmdbar_extra_lines_bg: Some("#22212C"),
  disabled_fg: Some("#7970A9"),
  diff_line_add: Some("#8AFF80"),
  diff_line_delete: Some("#FF9580"),
  diff_file_added: Some("#80FFEA"),
  diff_file_removed: Some("#FF9580"),
  diff_file_moved: Some("#FF80BF"),
  diff_file_modified: Some("#FFFF80"),
  commit_hash: Some("#9580FF"),
  commit_time: Some("#80FFEA"),
  commit_author: Some("#8AFF80"),
  danger_fg: Some("#FF9580"),
  push_gauge_bg: Some("#22212C"),
  push_gauge_fg: Some("#F8F8F2"),
  tag_fg: Some("#FF80BF"),
  branch_fg: Some("#FFFF80")
)
